@import "functions";

$unique_id: unique_id();

$black-color: #000000 !default;
$medium-color: #555555 !default;
$white-color: #ffffff !default;

$header-color: #333333 !default;
$anchor-color: #333333 !default;

$body-color: #333333 !default;
$body-background-color: #ffffff !default;

$color1: #1c68b3 !default;
$color2: #ef4023 !default;
$color3: #ffc404 !default;

$red-color: #FF0000 !default;
$blue-color: #0000FF !default;
$green-color: #008000 !default;

$scrollbar-with: rem-calc(4);
$scrollbar-height: rem-calc(4);

$global-screen-small: rem-calc(960);
$global-screen-medium: rem-calc(1080);
$global-screen: rem-calc(1200);
$global-screen-large: rem-calc(1300);

$mobile-width: rem-calc(640);
$desktop-width: rem-calc(1024);
$xdesktop-width: rem-calc(1200);
$xxdesktop-width: rem-calc(1440);
$xxxdesktop-width: rem-calc(1620);

$wp-small-width: rem-calc(600);
$wp-medium-width: rem-calc(782);

$mq-breakpoints: (
        wp-mobile: $wp-small-width,
        wp-tablet: $wp-medium-width,
        mobile: $mobile-width,
        desktop: $desktop-width,
        xdesktop: $xdesktop-width,
        xxdesktop: $xxdesktop-width,
        xxxdesktop: $xxxdesktop-width,
);

$header-styles-small: (
        h1: 35,
        h2: 29,
        h3: 24,
        h4: 20,
        h5: 17,
        h6: 15,
);
$header-styles-medium: (
        h1: 41,
        h2: 34,
        h3: 28,
        h4: 23,
        h5: 19,
        h6: 16,
);

$body-size: rem-calc(16);

$large-size: rem-calc(18);
$medium-size: rem-calc(16);
$small-size: rem-calc(14);

$global-line-height: 1.5;
$header-line-height: 1.4;
$paragraph-line-height: 1.7;

$gutter: 15;
$gutter-mobile: 10;
$large_gutter: 180;

$gap: $gutter * 2;
$gap-mobile: $gutter-mobile * 2;

$header-font: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, sans-serif;
$body-font: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, sans-serif;
$awesome-font: "Font Awesome 6 Pro", "Font Awesome 6 Brands", "Font Awesome 6 Free", sans-serif;
