@import "functions";

/** */
$unique_id: unique_id();

/** */
$black-color: #000000;
$medium-color: #555555;
$white-color: #ffffff;

$header-color: #333333;
$anchor-color: #333333;

$color1: #1c68b3;
$color2: #ef4023;
$color3: #ffc404;

$color-red: #FF0000;
$color-blue: #0000FF;
$color-green: #008000;

/** */
$scrollbar-with: rem-calc(4);
$scrollbar-height: rem-calc(4);

/** */
$global-screen-small: rem-calc(960);
$global-screen-medium: rem-calc(1080);
$global-screen: rem-calc(1200);
$global-screen-large: rem-calc(1300);

/** */
$mobile-width: rem-calc(640);
$desktop-width: rem-calc(1024);
$xdesktop-width: rem-calc(1200);
$xxdesktop-width: rem-calc(1480);
$xxxdesktop-width: rem-calc(1620);

$wp-small-width: rem-calc(600);
$wp-medium-width: rem-calc(782);

/** */
$mq-breakpoints: (
        wp-mobile: $wp-small-width,
        wp-tablet: $wp-medium-width,

        mobile: $mobile-width,
        desktop: $desktop-width,
        xdesktop: $xdesktop-width,
        xxdesktop: $xxdesktop-width,
        xxxdesktop: $xxxdesktop-width,
);

/** */
$header-styles-small: (
        h1: 35,
        h2: 29,
        h3: 24,
        h4: 20,
        h5: 17,
        h6: 15,
);
$header-styles-medium: (
        h1: 41,
        h2: 34,
        h3: 28,
        h4: 23,
        h5: 19,
        h6: 16,
);

/** */
$body-background-color: #ffffff;
$body-font-color: #333333;

$body-font-size: rem-calc(16);

$large-font-size: rem-calc(16);
$medium-font-size: rem-calc(15);
$small-font-size: rem-calc(14);

/** */
$global-line-height: 1.5;
$header-line-height: 1.4;
$paragraph-line-height: 1.7;

/** */
$gutter: 15;
$gutter-mobile: 10;
$large_gutter: 165;

$gap: $gutter * 2;
$gap-mobile: $gutter-mobile * 2;

/** */
$header-font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, sans-serif;
$body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, sans-serif;
$font-awesome: "Font Awesome 6 Pro", "Font Awesome 6 Brands", "Font Awesome 6 Free", sans-serif;
