@import "mixins";

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color-red: #{$color-red};

    --black-color: #{$black-color};
    --medium-color: #{$medium-color};
    --white-color: #{$white-color};

    --body-background-color: #{$body-background-color};
    --body-font-color: #{$body-font-color};

    --header-color: #{$header-color};
    --anchor-color: #{$anchor-color};

    --body-font-size: #{$body-font-size};
    --medium-font-size: #{$medium-font-size};
    --small-font-size: #{$small-font-size};

    --header-font-family: #{$header-font-family};
    --body-font-family: #{$body-font-family};
    --font-awesome: #{$font-awesome};

    --scrollbar-with: #{$scrollbar-with};
    --scrollbar-height: #{$scrollbar-height};

    --global-line-height: #{$global-line-height};
    --header-line-height: #{$header-line-height};
    --paragraph-line-height: #{$paragraph-line-height};

    --gutter: #{$gutter};
    --gutter-mobile: #{$gutter-mobile};
    --unique-id: #{$unique_id};
}

::placeholder {
    color: #9a9a9a;
}

//::-webkit-scrollbar-track {
//    background-color: #e6e6e6;
//}
//
//::-webkit-scrollbar-thumb {
//    background-color: #9a9a9a;
//}
//
//::-webkit-scrollbar {
//    @include box($scrollbar-with, $scrollbar-height);
//}

body {
    background: $body-background-color;
    font-size: $body-font-size;
    font-weight: 400;
}

.clearfix {
    @include clearfix;
}

[data-glyph]::before {
    content: attr(data-glyph);
    font-family: $font-awesome;
}

[data-glyph-after]::after {
    content: attr(data-glyph-after);
    font-family: $font-awesome;
}

/** */
.grid-x {
    @include grid-x;
}

.grid-y {
    @include grid-y;
}

.cell {
    @include cell();
}

.grid-padding-x {
    @include grid-padding-x($gutter-mobile, $gutter);
}

.grid-padding-y {
    @include grid-padding-y($gutter-mobile, $gutter);
}

/** */
.grid-container {
    @include grid-container($gutter-mobile, $gutter, false, false);

    &.full {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    &:not(.full) {
        &.grid-extra {
            @include mq-min(xxdesktop) {
                max-width: $global-screen-large;
            }
        }

        &.widescreen {
            @include mq-min(xxxdesktop) {
                max-width: 100%;
                padding-left: fs(165 + $gutter);
                padding-right: fs(165 + $gutter);
            }
        }

        & > .grid-gap {
            @include media-gap($gap-mobile, $gap);

            // not support aspect-ratio tag, there will also skip the gap
            @supports not (aspect-ratio: 1) {
                & > .cell {
                    @include px-gutter($gutter-mobile, $gutter);
                    @include py-gutter($gutter-mobile, $gutter);
                }
            }
        }

        & > .grid-padding-x {
            @include mx-gutter($gutter-mobile, $gutter);
        }

        & > .grid-padding-y {
            @include my-gutter($gutter-mobile, $gutter);
        }
    }
}

/** */
.section {
    &.full {
        & > .grid-container {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &:not(.full) {
        &.grid-extra {
            & > .grid-container {
                @include mq-min(xxdesktop) {
                    max-width: $global-screen-large;
                }
            }
        }

        &.widescreen {
            & > .grid-container {
                @include mq-min(xxxdesktop) {
                    max-width: 100%;
                    padding-left: fs(165 + $gutter);
                    padding-right: fs(165 + $gutter);
                }
            }
        }
    }
}

/** */
.overlay {
    position: relative;

    .overlay-bg, .overlay-link {
        @include absolute-full;
        background: transparent;
    }
}

.cover {
    display: block;
    overflow: hidden;
    position: relative;

    .cover-link, .cover-trigger {
        @include absolute-full;
        background: transparent;
    }
}

.res {
    @include responsive-wrapper();

    &.auto {
        & > img {
            @include responsive-image-auto;
        }
    }

    &.scale {
        @include responsive-scale();
    }

    iframe, embed, object, video {
        @include absolute-full;
        border: 0;
        width: 100%;
        height: 100%;
    }
}

/** */
.ar-1, .ar-1-1 {
    @include responsive-ratio(1, 1);
}

.ar-3-2 {
    @include responsive-ratio(3, 2);
}

.ar-2-3 {
    @include responsive-ratio(2, 3);
}

.ar-4-3 {
    @include responsive-ratio(4, 3);
}

.ar-3-4 {
    @include responsive-ratio(3, 4);
}

.ar-16-9 {
    @include responsive-ratio(16, 9);
}

.ar-21-9 {
    @include responsive-ratio(21, 9);
}

.ar-2-1 {
    @include responsive-ratio(2, 1);
}

.ar-3-1 {
    @include responsive-ratio(3, 1);
}

/** */
.art-1, .art-1-1 {
    @include mq-max(desktop) {
        @include responsive-ratio(1, 1);
    }
}

.art-3-2 {
    @include mq-max(desktop) {
        @include responsive-ratio(3, 2);
    }
}

.art-4-3 {
    @include mq-max(desktop) {
        @include responsive-ratio(4, 3);
    }
}

.art-16-9 {
    @include mq-max(desktop) {
        @include responsive-ratio(16, 9);
    }
}

/** */
.arm-1, .arm-1-1 {
    @include mq-max(mobile) {
        @include responsive-ratio(1, 1);
    }
}

.arm-3-2 {
    @include mq-max(mobile) {
        @include responsive-ratio(3, 2);
    }
}

.arm-4-3 {
    @include mq-max(mobile) {
        @include responsive-ratio(4, 3);
    }
}

.arm-16-9 {
    @include mq-max(mobile) {
        @include responsive-ratio(16, 9);
    }
}

/** */
/** default layout */
/** */
.section, .sidebar, .widget {
    @for $i from 1 through 6 {
        &._h#{$i} {
            margin-bottom: 0;

            .heading-title, .sidebar-title, .widget-title {
                @include fs-heading(h#{$i});
                line-height: $header-line-height;
            }
        }
    }
}
